extends layout
block exhead
    title
block content
    script(src='../javascripts/xh.js')
    script
    ul.sowingMap
    li#nav-item nav-item-w1.J-index
    div.demo
    div.demo1
    li#isStudentDan
    li#isStudent
    li#isStudentLian
