extends layout
block exhead
    title
block content
    script(src='../javascripts/xh.js')
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <ul class="sowingMap">
                </ul>
    <li id="J-index" class="nav-item nav-item-w1">
                <a name="g_href" data-type="1" data-href="index.html" data-redirect="Y" href="javascript:;" class="nav-hd">首页</a>
            </li>
    <div style="height: 128px;overflow: hidden" class="demo">
                                <div class="dd_left"></div>
                            </div>
    <div style="height: 128px;overflow: hidden" class="demo1">
                                <div class="dd_right"></div>
                            </div>
    <li id="isStudentDan">学生
                                                    <i></i>
                                                </li>
    <li id="isStudent">学生
                                                    <i></i>
                                                </li>
    <li id="isStudentLian">学生
                                                    <i></i>
                                                </li>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
    <ul class="sowingMap">
                </ul>
    <li id="J-index" class="nav-item nav-item-w1">
                <a name="g_href" data-type="1" data-href="index.html" data-redirect="Y" href="javascript:;" class="nav-hd">首页</a>
            </li>
    <div style="height: 128px;overflow: hidden" class="demo">
                                <div class="dd_left"></div>
                            </div>
    <div style="height: 128px;overflow: hidden" class="demo1">
                                <div class="dd_right"></div>
                            </div>
    <li id="isStudentDan">学生
                                                    <i></i>
                                                </li>
    <li id="isStudent">学生
                                                    <i></i>
                                                </li>
    <li id="isStudentLian">学生
                                                    <i></i>
                                                </li>
    <ul class="sowingMap">
                </ul>
    <li id="J-index" class="nav-item nav-item-w1">
                <a name="g_href" data-type="1" data-href="index.html" data-redirect="Y" href="javascript:;" class="nav-hd">首页</a>
            </li>
    <div style="height: 128px;overflow: hidden" class="demo">
                                <div class="dd_left"></div>
                            </div>
    <div style="height: 128px;overflow: hidden" class="demo1">
                                <div class="dd_right"></div>
                            </div>
    <li id="isStudentDan">学生
                                                    <i></i>
                                                </li>
    <li id="isStudent">学生
                                                    <i></i>
                                                </li>
    <li id="isStudentLian">学生
                                                    <i></i>
                                                </li>
    <ul class="sowingMap">
                </ul>
    <li id="J-index" class="nav-item nav-item-w1">
                <a name="g_href" data-type="1" data-href="index.html" data-redirect="Y" href="javascript:;" class="nav-hd">首页</a>
            </li>
    <div style="height: 128px;overflow: hidden" class="demo">
                                <div class="dd_left"></div>
                            </div>
    <div style="height: 128px;overflow: hidden" class="demo1">
                                <div class="dd_right"></div>
                            </div>
    <li id="isStudentDan">学生
                                                    <i></i>
                                                </li>
    <li id="isStudent">学生
                                                    <i></i>
                                                </li>
    <li id="isStudentLian">学生
                                                    <i></i>
                                                </li>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="main_v10001" src="./script/dist/index/main_v10001.js"></script>
