extends layout

block exhead
  script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js')

block content
  div(class="")
  h1= title
  p Welcome to #{title}

  script(src='javascripts/xh.js')

